<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/login.css" rel="stylesheet">
    </head>
    <body>
        <section class="section-register">
            <header>
                <img src="/static/poker-logo.jpg" width ="90" height="90">
                <p style="color:red">No duplicate usernames allowed</p>
            </header>
            <form action="/register" method="post" id="form">
                <div>
                    <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
                    <p id="under_username"></p>
                </div>
                <div>
                    <input autocomplete="off" id="password" name="password" placeholder="Password" type="password">
                    <p id="under_password"></p>
                </div>
                <div>
                    <input autocomplete="off" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
                    <p id="under_confirmation"></p>
                </div>
                <div>
                    <button type="sumbit" id="signup">Sign Up</button>
                </div>
            </form>
        </section>
        <script>
            username = document.getElementById('username');
            password = document.getElementById('password');
            confirmation = document.getElementById('confirmation');
            document.getElementById('form').addEventListener('submit', function() {
                if (username.value.trim() == "") {
                    username.style.borderColor = 'red';
                    document.getElementById('under_username').innerHTML = 'This field is required';
                }
                else if (username.value.trim() != "") {
                    username.style.borderColor = 'gray';
                    document.getElementById('under_username').innerHTML = '';
                }
                if (password.value.trim() == "") {
                    password.style.borderColor = 'red';
                    document.getElementById('under_password').innerHTML = 'This field is required';
                }
                else if (password.value.trim() != "") {
                    password.style.borderColor = 'gray';
                    document.getElementById('under_password').innerHTML = '';
                }
                if (confirmation.value.trim() == "") {
                    confirmation.style.borderColor = 'red';
                    document.getElementById('under_confirmation').innerHTML = 'This field is required';
                }
                else if (confirmation.value.trim() != "") {
                    if (confirmation.value != password.value) {
                        confirmation.style.borderColor = 'red';
                        document.getElementById('under_confirmation').innerHTML = 'Must match password';
                    }
                    else {
                        confirmation.style.borderColor = 'gray';
                        document.getElementById('under_confirmation').innerHTML = '';
                    }
                }
                if (username.value.trim() == "" | password.value.trim() == "" | confirmation.value.trim() == "") {
                    document.getElementById('form').setAttribute('action', 'javascript:void(0);');
                }
                else if (username.value.trim() != "" && password.value.trim() != "" && confirmation.value.trim() != "") {
                    if (confirmation.value != password.value) {
                        document.getElementById('form').setAttribute('action', 'javascript:void(0);');
                    }
                    else {
                        document.getElementById('form').setAttribute('action', '/register');
                    }
                }
            })
        </script>
    </body>
</html>